<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>products</key>
	<array>
		<string>com.bonobolabs.iboost.hks</string>
		<string>com.bonobolabs.iboost.digital</string>
		<string>com.bonobolabs.iboost.carbon</string>
		<string>com.bonobolabs.iboost.duck</string>
		<string>com.bonobolabs.iboost.progauge</string>
	</array>
</dict>
</plist>
