<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>products</key>
	<array>
		<string>com.iap.product1</string>
		<string>com.iap.product2</string>
	</array>
</dict>
</plist>
